<div class="container-fluid">
	<div class="row whiteBackground fontSize16 text-center" ng-controller="SearchController">
	<h3 class="col-xs-12"> <b> Search For Child Care Providers </b> </h3>
	<h4 class="col-xs-12"> <i> (Select the parameters from dropdown and hit search) </i> </h4>
	<h4 class="col-xs-12" ng-show="error"> <p style="color:red;"> Atleast one criteria needs to be selected to perform search</p>	 </h4></i> </h4>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form class="form-horizontal">
				<div class="form-group marginB20 marginT30">
					<div class="col-md-offset-2 col-md-2 col-xs-6 marginB20">
						<select class="col-xs-12 selectpicker customDropDownCls" id="County"
							ng-model="criteria.countyId" ng-options="c as c.countyName for c in countys track by c.countyNumber" ng-change="filterCitiesForCounty()" >
							<option value="" selected disabled>County</option>
                             </select>
						
					</div>
					<div class="col-md-2 col-xs-6 marginB20">
						<select class="col-xs-12 selectpicker customDropDownCls" id="city"
							ng-model="criteria.cityId" ng-options="c as c.name for c in tempCities | orderBy:'name'  ">
								<option value="" selected disabled>City</option>
						    </select>
					</div>
					<div class="col-md-2 col-xs-6 marginB20">
						<select class="col-xs-12 selectpicker customDropDownCls" id="providerType"
							ng-model="criteria.providerTypeId" ng-options="c as c.providerTypeDescription for c in providerTypes  
							  | orderBy:'providerTypeDescription'"> 
								<option value="" selected disabled>Provider Type</option>							
							</select>
					</div>
					<div class="col-md-2 col-xs-6 marginB20">
					<select class="col-xs-12 selectpicker customDropDownCls" id="quality"
							ng-model="criteria.ratingId" ng-options="c as c.qualityRatingDescription for c in qualityRatings track by c.qualityRating">
							<option value="" selected disabled>Quality Star Rating</option>
							</select>		
					</div>
				</div>
				<div class="form-group marginT30">
					<div class="col-md-offset-2 col-md-8 marginB20">
						<input type="search" id="search" value="" class="form-control customSearchCls" placeholder="Search By Provider Name" ng-model="criteria.providerName">
					</div>
				</div>
				  <div class="col-xs-12">
			<div class="panel-heading advanceSearchTxtCls blueColorCls marginT10">
				<h4 class="col-sm-offset-4 col-sm-4 panel-title custom-panel-header-color">
					<a name="#advanceSearchGroup" class="collapsed"><b class="">Advanced Search</b></a>
				</h4>
				<div class="clearfix"></div>
			</div>
			<div id="advanceSearchGroup" class="panel-collapse collapse">
				<div class="panel-body custom-panel-body padding00">
					<div class="col-xs-12 AdvSchHandicapPart text-left grayBackground borderRadius20 padding00">
						<div class="col-sm-12 col-md-6 AdvSchHandicapPartInfo padding00">
							<div class="col-sm-6">
								<label class="marginT30 marginL0"><b>Handicapped Accessibility required?</b></label>
							<p><input type="radio" name="handicappedRadio" value="Y" ng-model="criteria.isHandicapped"><label>Yes</label></p>
								<p><input type="radio" name="handicappedRadio" value="N" ng-model="criteria.isHandicapped"><label>No</label></p>
							</div>
							<div class="col-sm-6">
								<label class="marginT30 marginL0"><b>Time of Service Preferred</b></label>
								<p><input type="radio" name="servicePRadio" ng-model="criteria.servicePreferred" value="F"><label>Full Time</label></p>
								<p><input type="radio" name="servicePRadio" ng-model="criteria.servicePreferred" value="P"><label>Part Time</label></p>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 padding00">
							<div class="col-sm-12">
								<label class="marginT30 marginL0"><b>Age Group</b></label>
								<div class="marginT10">
									<b class="marginR15">0</b><input id="ex2" type="text" class="span2 " ng-model="criteria.agePreff" 
									data-slider-min="0" data-slider-max="18" data-slider-step="1" data-slider-value="[0,18]"/> <b class="marginL15">18</b> 
									<span class=""><i>(Age in years)</i></span> </br>
								</div>
								<label class="marginT10">Age range: </label>  <span id="ageyearId" class="marginT15"></span></br>
							</div>	
						</div>
						
						<div class="col-xs-12 text-left">
							<div class="col-xs-12 AdvSchSpcNeedsInfo">
								<label class="marginT10"><b>Special Needs </b></label><span>(Click to highlight the selections)</span>
								<div class="form-horizontal col-xs-12">
									<div class="form-group">
										<div class="items-collection">
										<div class="items col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-repeat="needs in specialNeedsList">
												<div class="info-block block-info clearfix">
													<div  class="btn-group bizmoduleselect">
														<label data-toggle="buttons" class="btn btn-default">
															<div class="itemcontent">
																<h5 class="col-xs-12 padding00" style="line-height:1;" ><span class="marginL15">{{needs}}</span>
																<input style="visibility: collapse;height: 0;" type="checkbox"  checklist-model="criteria.selectedSpecialNeeds" checklist-value="needs"/></h5>
															</div>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								
								</div>
							</div>
						</div>
						
						 
						
					</div>
				</div>
			</div>
		</div>
				  
				<div class="col-xs-12 form-group marginT20">
					<label class="col-md-offset-3 col-md-2 col-xs-12">Show results in</label>
					<div class="col-md-4 col-xs-12 marginB20" ng-init="criteria.viewMode='List'" >
						<label class="col-md-5 radio-inline" style="padding-top:0;"><input type="radio" name="optShowResult" ng-model="criteria.viewMode" value="List" >List View</label>
						<label class="col-md-5 radio-inline" style="padding-top:0;"><input type="radio" name="optShowResult" ng-model="criteria.viewMode" value="Map">Map View</label>
					</div>
				</div>
				<div class="col-md-offset-4 col-md-8 col-sm-offset-2 col-sm-10 col-sx-12 marginT10">
					<div class="col-md-3 col-sm-5 col-xs-12 text-center marginB10">
						<button type="submit" class="col-xs-12 btn blueColorBtnCls padding4-25 btnMaxWidth160" ng-click="reset()" id="resetBtn">Reset</button>
					</div>
					<div class="col-md-3 col-sm-5 col-xs-12 marginB10">
						<a type="submit" class="col-xs-12 btn greenColorBtnCls padding4-25 btnMaxWidth160"  ng-click="search1(criteria)" id="searchBtn">Search</a>
					</div>
				</div>	
			</form>
		</div>
		
			</div>
</div>
 
<script type="text/javascript">
	$(function () {
		$('#datetimepicker1').datetimepicker();
		
		$('.panel-heading a[name^="#"]').click(function (e) {
            $("#" + $(this)[0].name.split('#')[1]).collapse('toggle');
            if ($(this).hasClass('collapsed')) {
                $(this).removeClass('collapsed');
            } else {
                $(this).addClass('collapsed');
            }
        });
		
		$('#ex2').slider({
			formatter: function(value) {
					if(typeof (value) === "object"){
					console.log(value);
					var initialVal = value[0]/12;
					var finalVal = value[1]/12;
					$('#ageyearId').text(Math.floor(value[0]) + " year's " + " - " + Math.floor(value[1]) + " year's");
					}
					return 'Current value: ' + value;
			}
		});
		
		
	});
	
</script>