<footer>
    <div class="container posFixCls footerCss blueBackgroundColorCls">
        <div class="col-xs-12">
			<label >
				<a data-toggle="modal" data-target="#modal-transparent5" class="whiteColorCls">Report Issues</a>
			</label>	
		</div>
    </div>
	
	<div class="modal fade" id="modal-transparent5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="col-xs-12 modal-content padding00">
			<div class="col-xs-12 padding00 blueBackgroundColorCls marginB10">
				<label class="col-sm-11 col-xs-10 padding10 whiteColorCls fontSize18 ">Report Issues</label>
				<i onclick="funcfooterCancel()" class="col-sm-1 col-xs-2 padding10 whiteColorCls fa fa-times fontSize25 text-center" aria-hidden="true"></i>
			</div>
			<div class="col-xs-12 marginB20">
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-xs-12 text-right marginT10">
						<div class="col-xs-4 "><i class="fa fa-phone fontSize60 blue2ColorCls marginT10"></i></div>
						<div class="col-xs-8 text-left marginT10"><b class="blueColorCls">Call us</b></br><span>Please reach out to Miquel Stubbs at (614) 596-7140.</span></div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-xs-12 text-right marginT10 marginT10">
						<div class="col-xs-4 "><i class="fa fa-envelope fontSize60 blue2ColorCls marginT10"></i></div>
						<div class="col-xs-8 text-left marginT10"><a href="mailto:Miquel.Stubbs@unisys.com" class="btn blueColorCls padding00"><b>Email us</b></a></br><span>We'll do our best to respond within 24 hours. </span></div>
					</div>
				</div>
			</div>
		
		</div>
	  </div>
	</div>
</footer>
<script>
function funcfooterCancel(){
console.log($('.modal'));
console.log($('#modal-transparent1'));
	$('.modal').modal('hide');
}
</script>