<!-- Top Header Bar -->
<div class="container-fluid col-xs-12 blueBackgroundColorCls posFixCls">
    <div class="row">
		  <div class="col-xs-8 marginT10">
				<img id="mdhslogoimgId" class="col-md-12 col-xs-1" src="images/mdhs_logo.png" style="width:auto;" />
				<label id="headerTxtId" class=" headerFontSize whiteColorCls marginL15">Department of Human Services</label>
		  </div> 
		  <div class="col-xs-4 HeaderDrpDwnPart marginT10">
			 <select>
			  <option value="English" selected>English</option>
			  <option value="Spanish">Spanish</option>
			  <option value="French">French</option>
			  <option value="German">German</option>
			  <option value="Vietnamese">Vietnamese</option>
			  
			 </select>
		  </div>
		  <div class="col-xs-12 text-center">
			<label id="headerTxtId2" class="headerFontSize whiteColorCls marginL15">Department of Human Service</label>
		  </div>
	</div>    
</div>
